<section ng-controller="PageCtrl as vm">

    <md-card>
        <md-card-header>
            <md-card-header-text>
                <h2>
                    {{vm.page.meta.name}} <small>| Settings</small>
                </h2>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="column" layout-align="none none">

            <md-input-container>
                <label>Description</label>
                <input type="text" ng-model="vm.page.meta.description">
            </md-input-container>

            <md-input-container>
                <label>Link</label>
                <input type="text" ng-model="vm.page.meta.url">
            </md-input-container>

            <md-input-container>
                <label>Status</label>
                <md-select ng-model="vm.page.meta.status" placeholder="Status" class="md-no-underline">
                    <md-option ng-repeat="status in vm.options.availableStatuses" ng-value="status">{{status}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Created On</label>
                <input type="text" ng-value="vm.page.meta.dateCreated | date: 'd.M.yyyy H:mm:ss'" disabled>
            </md-input-container>

            <md-input-container>
                <label>Last Modified</label>
                <input type="text" ng-value="vm.page.meta.dateModified | date: 'd.M.yyyy H:mm:ss'" disabled>
            </md-input-container>

            <md-input-container>
                <label>Language</label>
                <input type="text" ng-value="'Not Supported'" disabled>
            </md-input-container>

            <section>
                <span class="md-caption">Labels</span>
                <md-chips ng-model="vm.page.meta.tags" md-removable="true">
                    <md-chip-template>
                        <i class="fa fa-tag"></i> {{$chip.text}}
                    </md-chip-template>
                </md-chips>
            </section>

            <md-input-container layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised" ng-click="vm.savePage();" ng-disabled="vm.options.isSaving">
                <span ng-if="vm.options.isSaving">
                    <i class="fa fa-spin fa-spinner"></i> Saving...
                </span>
                    <span ng-if="!vm.options.isSaving">
                    <i class="fa fa-fw fa-save"></i> Save
                </span>
                </md-button>
                <md-button class="md-raised" ng-click="vm.clonePage();" ng-disabled="vm.options.isCloning">
                <span ng-if="vm.options.isCloning">
                    <i class="fa fa-spin fa-spinner"></i> Cloning...
                </span>
                    <span ng-if="!vm.options.isCloning">
                    <i class="fa fa-fw fa-copy"></i> Clone
                </span>
                </md-button>
                <md-button class="md-raised" ng-click="vm.deletePage();" ng-if="!vm.options.isDeleted" ng-disabled="vm.options.isDeleting">
                <span ng-if="vm.options.isDeleting">
                    <i class="fa fa-spin fa-spinner"></i> Deleting...
                </span>
                    <span ng-if="!vm.options.isCloning">
                    <i class="fa fa-fw fa-trash-o"></i> Delete
                </span>
                </md-button>
                <md-button class="md-raised" ng-click="vm.restorePage();" ng-if="vm.options.isDeleted" ng-disabled="vm.options.isRestoring">
                <span ng-if="vm.options.isRestoring">
                    <i class="fa fa-spin fa-spinner"></i> Restoring...
                </span>
                    <span ng-if="!vm.options.isRestoring">
                    <i class="fa fa-recycle"></i> Restore
                </span>
                </md-button>
            </md-input-container>


        </md-card-content>
    </md-card>

</section>