<section ng-controller="LoginStatusCtrl as vm">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">User Name</span>
                <span class="md-subhead">Administrator</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="/static/profile.jpg" alt="Profile Image" class="img-circle profile-image">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Messages</md-button>
            <md-button>Alerts</md-button>
            <md-button>Sign out</md-button>
        </md-card-actions>
    </md-card>
</section>