@import "fonts";

.admin-panel {

  font-family: 'Roboto', sans-serif;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  padding: 5px 20px 0;
  background: #fff;
  border-left: 1px solid #aaa;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);

  .btn {
    border-radius: 1px;
  }

  font-size: 0.9rem;
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1rem;
  }
  small {
    font-size: 0.7em;
  }

  .admin-heading {

    padding: 20px;
    background: #eee;
    box-shadow: 0 2px 3px rgba(170, 170, 170, 0.8);
    border-bottom: 1px solid rgba(140, 140, 140, 0.67);

    position: relative;

    h1 {
      font-size: 1.6rem;
      margin: 0;
    }

    small {
      white-space: nowrap;
    }

  }

  .admin-section {

    margin-top: 26px;
    padding: 20px 0;
    background: #eee;
    box-shadow: 0 2px 3px rgba(170, 170, 170, 0.8);
    border-bottom: 1px solid rgba(140, 140, 140, 0.67);

    header {
      h2 {
        small {
          &:before {
            content:'| ';
          }
        }
      }
    }

    &.user-profile {
      height: 50px;
      margin-top: 0;
      background: #fff;
      box-shadow: none;
      border-bottom: none;

      .col-image {
        top: -3px;
        img.profile-image {
          border: 1px solid #ccc;
          padding: 2px;
        }
      }

      .col-name {
        padding-left: 22px;
      }

      .col-buttons {
        .btn-group {
          .btn {
            color: $gray;
            padding: 0 0.35rem;
            .fa-bell-o {
              &.active {
                animation: ringingBell 4s 1s infinite ease normal;
                -webkit-animation: ringingBell 4s 1s infinite ease normal;
                -moz-animation: ringingBell 4s 1s infinite ease normal;
                -ms-animation: ringingBell 4s 1s infinite ease normal;
                -o-animation: ringingBell 4s 1s infinite ease normal;
              }
            }
            .fa-sign-out {
              transition: padding-left .2s ease-in-out;
              &:hover {
                padding-left: .5rem;
              }
            }
          }
        }
      }

    }

    &.page-settings {
      header {
        margin-bottom: 10px;
      }
      .page-description {
        p {
          font-style: italic;
        }
      }
      .page-options {
        .row {
          line-height: 2.2em;
        }
      }
    }

  }

}